.userPhoto{
    height: 100px;
}

.userCard{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
    padding:30px;
    grid-gap: 30px;
    width:80%;
    border:0.5px white solid;
    margin: 10px;
}

.userAvatar {
    text-align: center;
}

.followUser{
    text-align: center;
}

.selectedPage{
    font-weight: bolder;
    font-size : 22px;
}

.pager{
    margin: 10px;
    font-size : 18px;
    color: white;
    overflow-wrap: break-word;
    max-width: 1000px;
}

.pageNum{
    padding: 10px;
    cursor: pointer;
}