.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
  border-right: 1px grey solid;
}

.dialogsItems .active{
  color: gold;
}
.messages{
  padding: 10px;
}

.message{
  color: white;
}

.dialog{
  
}
